<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="^index/?$" />
            </rewriteMaps>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^index/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^exchange/?$" />
                    <action type="Rewrite" url="exchange.php" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^exchange/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php?oid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^exchange/([^/]+)/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php?oid={R:1}&amp;uid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^onedrive/?$" />
                    <action type="Rewrite" url="onedrive.php" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^onedrive/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="onedrive.php?oid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^onedrive/([^/]+)/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="onedrive.php?oid={R:1}&amp;uid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^sharepoint/?$" />
                    <action type="Rewrite" url="sharepoint.php" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^sharepoint/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="sharepoint.php?oid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^sharepoint/([^/]+)/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="sharepoint.php?oid={R:1}&amp;sid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^sharepoint/([^/]+)/([^/]+)/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="sharepoint.php?oid={R:1}&amp;sid={R:2}&amp;cid={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^sharepoint/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="sharepoint.php?oid={R:1}&amp;sid={R:2}&amp;cid={R:3}&amp;type={R:4}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
